.profile_pic_page_container {
  position: relative;
  top: 95px;
  left: 405px;
  width: 935px;
  height: 150px;
  display: inline-block;
}

.profile_page_pic_container {
  width: 150px;
  height: 150px;
  display: inline-flex;
  background-color: black;
  position: relative;
  left: 90px;
}

.profile_page_pic_upload {
  height: 148px;
  width: 147px;
  margin: auto;
  background-color: white;
  border-radius: 50%;
}
