.comment-form {
  /* width: 585px; */
  height: 17px;
  position: absolute;
  top: 23px;
}

input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.add-comment {
  height: 14px;
  position: relative;
  top: -2px;
}

.add-comment-darkMode {
  height: 14px;
  position: relative;
  top: -2px;
  background: #2a303c;
}

.post-comment-button {
  border: 0;
  color: #3897f0;
  color: rgba(var(--h5f, 56, 151, 240), 1);
  display: inline;
  padding: 0;
  position: relative;
  right: 1px;
  top: -2px;
  background: white;
}

.post-comment-button-darkMode {
  border: 0;
  color: rgba(var(--h5f, 56, 151, 240), 1);
  display: inline;
  padding: 0;
  position: relative;
  right: 1px;
  top: -2px;
  background: #2a303c;
}

textarea.add-comment::placeholder {
  color: #999999;
  position: relative;
  top: -2px;
}

.view-all {
  width: 582px;
  height: 16px;
  font-size: 14px;
  color: #999;
  margin-top: 16px;
  margin-bottom: 2px;
}

.comments {
  position: relative;
  top: 2px;
  width: 570px;
  height: 21px;
  bottom: 14px;
  font-size: 14px;
}

.comment-user,
.post-user {
  display: inline;
  font-weight: 700;
  max-width: 120px;
  height: 16px;
}

.post-user-darkMode {
  display: inline;
  font-weight: 700;
  max-width: 120px;
  height: 16px;
  color: white;
}

.post-caption {
  display: inline;
  position: relative;
  margin-left: 6px;
  left: -26px;
}
.comment {
  display: inline;
  margin-left: -21px;
  left: -26px;
}

.single-page-comments {
  position: relative;
  top: 5px;
  width: 570px;
  min-height: 45px;
  bottom: 14px;
  font-size: 14px;
  margin-left: -16px;
  margin-right: 0;
  padding: 12px 16px;
  width: auto;
}

.time-single-comment {
  position: absolute;
  top: 42px;
  left: 15px;
  width: 570px;
  width: auto;
  font-size: 12px;
  color: #999;
}
