.comment-form {
    width: 582px;
    height: 17px;
    position: absolute;
    top: 23px;
}

input {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; 
}

.add-comment {
    height: 13px;
    width: 547px;
}

.post-comment-button {
    border: 0;
    color: #3897f0;
    color: rgba(var(--h5f,56,151,240),1);
    display: inline;
    padding: 0;
    position: relative;
    right: 1px;
    top: -1px;
}

textarea.add-comment::placeholder{
  color: #999999;
  position: relative;
  top: -2px;
}

.view-all {
    width: 582px;
    height: 16px;
    font-size: 14px;
    color: #999;
    margin-top: 16px;
    margin-bottom: 2px

}

.comments {
    position: relative;
    top: 19px;
    width: 570px;
    min-height: 45px;
    bottom: 30px;
    font-size: 14px;
    margin-bottom: 29px;
}

.comment-user, .post-user {
    display: inline;
    font-weight: 700;
    max-width: 120px;
    height: 16px;
}

.comment, .post-caption {
    display: inline;
    margin-left: 6px;
}

.time-single-comment {
    left: 41px;
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 19px;
    overflow: hidden;
    word-break: break-all;
    height: 48px;
    line-height: 74px;
}

.comment-d {
    position: relative;
    top: 18px;
    left: 14px;
    font-size: 12px;
    color: #999;
}

.comment-d-post {
    position: relative;
    top: -3px;
    left: 73px;
    font-size: 12px;
    color: #999;
}